<%- param = params[:p] || 'n' -%>
<div class="tab-body">
  <h2><%= Survey.title_for_parameter(param) %></h2>
  <h3><%= Survey.question_for_parameter(param) %></h3>
	
  <label>Show age:</label>
  <select>
    <option disabled="disabled">Choose:</option>
    <option>11 and under</option>
    <option>12-14</option>
    <option>15-18</option>
    <option>19-25</option>
    <option selected="selected">26-35</option>
    <option>36-50</option>
    <option>50+</option>
    <option>Unknown</option>
  </select>
	
  <div id="ages-group" style="width: 650px; height: 300px;"></div>

  <label>Show gender:</label>
  <select>
    <option disabled="disabled">Choose:</option>
    <option selected="selected">Male</option>
    <option>Female</option>
    <option>Unknown</option>
  </select>

  <div id="gender-group" style="width: 650px; height: 300px;"></div>

  <div id="all" style="width: 650px; height: 300px;"></div>

</div>

<script>
// group: id of the element to render to
// title: chart title
// data: array of counts per column
function makeChart(group, title, data) {
  return new Highcharts.Chart({
    chart: {
      renderTo: group,
      defaultSeriesType: 'column'
    },
    title: {
      text: title
    },
    xAxis: {
      categories: <%= chart_columns(param) %>
    },
    yAxis: {
      title: {
	text: 'Number of Responses'
      }
    },
    tooltip: {
      formatter: function() {
	return '' + this.y +' users responded with '+ this.x.toLowerCase();
      }
    },
    plotOptions: {
      column: {
	data: data
      }
    },
    credits: {
      enabled: false
    },
    legend: {
      enabled: false
    },
    series: [{
      name: 'Count'
    }]
  });
}

var age_data = <%= chart_data(param, :age) %>;
var gender_data = <%= chart_data(param, :gender) %>;
var all_data = <%= chart_data(param, :all) %>;

$(document).ready(function() {
  makeChart('ages-group', 'Estimates by age group 26-35', age_data['26-35']);
  makeChart('gender-group', 'Estimates by males', gender_data['Male']);
  makeChart('all', 'All Estimates', all_data['All']);
});

</script>
