<%- param = params[:p] || 'n' -%>
<div class="tab-body">
  <h2><%= Survey.title_for_parameter(param) %></h2>
  <h3><%= Survey.question_for_parameter(param) %></h3>
	
  <label>Show age:</label>
  <select id='age_select' onchange='makeAgeChart()'>
    <option disabled="disabled">Choose:</option>
    <%- AgeGroup.all.each do |g| -%>
      <option<%= ' selected="selected"' if g.description == '26-35' %>>
        <%= g.description %>
      </option>
    <%- end -%>
  </select>
	
  <div id="ages-group" style="width: 650px; height: 300px;"></div>

  <label>Show gender:</label>
  <select id='gender_select' onchange='makeGenderChart()'>
    <option disabled="disabled">Choose:</option>
    <option selected="selected">Male</option>
    <option>Female</option>
    <option>Unknown</option>
  </select>

  <div id="gender-group" style="width: 650px; height: 300px;"></div>

  <div id="all" style="width: 650px; height: 300px;"></div>

</div>

<script>
// group: id of the element to render to
// title: chart title
// data: array of counts per column
function makeChart(group, title, data) {
  return new Highcharts.Chart({
    chart: {
      renderTo: group,
      defaultSeriesType: 'column'
    },
    title: {
      text: title
    },
    xAxis: {
      categories: <%= chart_columns(param) %>
    },
    yAxis: {
      title: {
	text: 'Number of Responses'
      }
    },
    tooltip: {
      formatter: function() {
	return '' + this.y +' users responded with '+ this.x.toLowerCase();
      }
    },
    plotOptions: {
      column: {
	data: data
      }
    },
    credits: {
      enabled: false
    },
    legend: {
      enabled: false
    },
    series: [{
      name: 'Count'
    }]
  });
}

function makeAgeChart() {
  var ages = $('#age_select').val();
  makeChart('ages-group', 'Estimates by age group ' + ages, age_data[ages]);
}

function makeGenderChart() {
  var gender = $('#gender_select').val();
  var group = (gender == 'Male' ? 'males' :
               gender == 'Female' ? 'females' :
               'unknown gender');
  if (gender == 'Unknown') gender = '';
  makeChart('gender-group', 'Estimates by ' + group, gender_data[gender]);
}

var age_data = <%= chart_data(param, :age) %>;
var gender_data = <%= chart_data(param, :gender) %>;
var all_data = <%= chart_data(param, :all) %>;

$(document).ready(function() {
  makeAgeChart();
  makeGenderChart();
  makeChart('all', 'All Estimates', all_data['All']);
});

</script>
